<div class="header">
    <div>
        <h1 (click)="fullscreen()">Darts</h1>
        <p> {{ gameInformation.mode }} </p>
    </div>
    <div>
        <!-- <p>12:15</p> -->
        <p> {{ clock }} </p>
    </div>
</div>

<div class="game" *ngIf="loaded && gameIsActive">
    <div class="current">
        <div class="top">
            <div class="player">
                <div class="img">
                    <img [src]="currentPlayer.profilePicture" class="blur">
                    <img [src]="currentPlayer.profilePicture">
                </div>
                <h2> {{ currentPlayer.name }} </h2>
                <p> {{ currentPlayer.number }} </p>
            </div>

            <div class="score">
                <h1> {{ currentPlayer.score }} </h1>
            </div>
        </div>

        <div class="throws">
            <div class="throw">
                <h1>1</h1>
                <p *ngIf="currentPlayer.throws.throw1 != 'abort'"> {{ currentPlayer.throws.throw1 }} </p>
                <span *ngIf="currentPlayer.throws.throw1 == 'abort'"></span>
            </div>
            <div class="throw">
                <h1>2</h1>
                <p *ngIf="currentPlayer.throws.throw2 != 'abort'"> {{ currentPlayer.throws.throw2 }} </p>
                <span *ngIf="currentPlayer.throws.throw2 == 'abort'"></span>
            </div>
            <div class="throw">
                <h1>3</h1>
                <p *ngIf="currentPlayer.throws.throw3 != 'abort'"> {{ currentPlayer.throws.throw3}} </p>
                <span *ngIf="currentPlayer.throws.throw3 == 'abort'"></span>
            </div>
        </div>

        <div class="informations">
            <span>
                <h1>Highscore</h1>
                <p> {{ currentPlayer.highscore }} </p>
            </span>
            <span>
                <h1>Hint</h1>
                <p>
                    <ng-container *ngIf="!currentPlayer.throwsHint.hint1"> No Hint </ng-container>
                    <ng-container *ngIf="currentPlayer.throwsHint.hint1"> {{ currentPlayer.throwsHint.hint1 }} </ng-container>
                    <ng-container *ngIf="currentPlayer.throwsHint.hint2"> | </ng-container>
                    <ng-container *ngIf="currentPlayer.throwsHint.hint2"> {{ currentPlayer.throwsHint.hint2 }} </ng-container>
                    <ng-container *ngIf="currentPlayer.throwsHint.hint3"> | </ng-container>
                    <ng-container *ngIf="currentPlayer.throwsHint.hint3"> {{ currentPlayer.throwsHint.hint3 }} </ng-container>
                </p>
            </span>
            <span>
                <h1>Average</h1>
                <p> {{ currentPlayer.average }} </p>
            </span>
        </div>
    </div>

    <div class="list">

        <ng-container *ngFor="let player of players">

            <div class="player" [ngClass]="{'player': true, 'current': currentPlayer == player}">

                <div class="top">
                    <div class="profile">
                        <div class="img">
                            <img [src]="player.profilePicture" class="blur">
                            <img [src]="player.profilePicture">
                        </div>
                        <h2> {{ player.name }} </h2>
                        <p> {{ player.number }} </p>
                    </div>

                    <div class="s-throws">
                        <div class="throw">
                            <h1>1</h1>
                            <p *ngIf="player.throws.throw1 != 'abort'"> {{ player.throws.throw1 }} </p>
                            <span *ngIf="player.throws.throw1 == 'abort'" class="line">asd</span>
                        </div>
                        <div class="throw">
                            <h1>2</h1>
                            <p *ngIf="player.throws.throw2 != 'abort'"> {{ player.throws.throw2 }} </p>
                            <span *ngIf="player.throws.throw2 == 'abort'" class="line"></span>
                        </div>
                        <div class="throw">
                            <h1>3</h1>
                            <p *ngIf="player.throws.throw3 != 'abort'"> {{ player.throws.throw3 }} </p>
                            <span *ngIf="player.throws.throw3 == 'abort'" class="line"></span>
                        </div>
                    </div>

                    <div class="score">
                        <h1> {{  player.score }} </h1>
                    </div>
                </div>

                <div class="informations">
                    <span>
                        <h1>Highscore</h1>
                        <p> {{ player.highscore }} </p>
                    </span>
                    <span>
                        <h1>Hint</h1>
                        <p>
                            <ng-container *ngIf="!player.throwsHint.hint1"> No Hint </ng-container>
                            <ng-container *ngIf="player.throwsHint.hint1"> {{ player.throwsHint.hint1 }} </ng-container>
                            <ng-container *ngIf="player.throwsHint.hint2"> | </ng-container>
                            <ng-container *ngIf="player.throwsHint.hint2"> {{ player.throwsHint.hint2 }} </ng-container>
                            <ng-container *ngIf="player.throwsHint.hint3"> | </ng-container>
                            <ng-container *ngIf="player.throwsHint.hint3"> {{ player.throwsHint.hint3 }} </ng-container>
                        </p>
                    </span>
                    <span>
                        <h1>Average</h1>
                        <p> {{ player.average }} </p>
                    </span>
                </div>

            </div>

        </ng-container>

    </div>
</div>

<div class="winnerscreen" *ngIf="!gameIsActive">

    <div class="players">
        <div class="player winner">
            <div class="img">
                <img [src]="winnerPlayer.profilePicture" class="blur">
                <img [src]="winnerPlayer.profilePicture">
                <img src="assets/crown.svg" class="crown">
            </div>
            <div class="text">
                <h1> {{ winnerPlayer.name }} </h1>
                <p> {{ winnerPlayer.number }} </p>
            </div>
        </div>
        <ng-container *ngFor="let player of players">
            <div class="player" *ngIf="player.playerId != winnerPlayer.playerId">
                <div class="img">
                    <img [src]="player.profilePicture" class="blur">
                    <img [src]="player.profilePicture">
                </div>
                <div class="text">
                    <h1> {{ player.name }} </h1>
                    <p> {{ player.number }} </p>
                </div>
            </div>
        </ng-container>
    </div>

</div>